body{
	background-color: black;
}

.navbar-default{
	background: black;
}

.fact{
	height: 200px;
	text-align: center;
	background-size: cover;
	margin-top:10px;
	overflow: hidden;

}



.fact-image{
	height: 200px;
	transition:0.5s;
	background-position:center;
	background-size: 100%;
}


.fact-text {
	text-align:center;
	padding-top:70px;
	padding-bottom:70px;
	font-family:Arvo;
	font-variant: small-caps;
	font-variant: initial;
	font-size:30px;
	color:white;
	position: relative;
	margin-top: -200px;
	z-index: 100;
	font-weight: 800;

}

.fact:hover > .fact-image{
	filter:brightness(0.6);
}

a:hover{
	text-decoration: none;
}

footer p a img{
	height: 25px;
	margin: 20px 10px 20px 10px;
}
