/**********************************general**********************************/
body{
	background-color: black;
	padding:50px 0 50px 0;
	overflow-y: scroll;
}
a:hover{
	text-decoration: none;
}
/**********************************mobile layout**********************************/
@media (max-width: 978px) {
    /*.container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    nav {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }*/
		nav a{
			font-size: 35px !important;
		}
		nav ul li a{
			font-size: 26px !important;
			margin-right:20px;
			transition: all linear 0.2s;
		}
}
/**********************************navigation bar styling**********************************/
nav{
	background-color:black;
	font-family:Arvo;
}
@media (min-width: 978px) {
nav a{
	font-size: 25px !important;
}
nav ul li a{
	font-size: 16px !important;
	margin-right:20px;
	transition: all linear 0.2s;
} }

.navbar-default{
	background: black;
}

nav img{
	height: 25px !important;
}

/**********************************staggering animation http://plnkr.co/edit/AqSt7jaLk0Nq0RKqvdhx?p=preview**********************************/
.stagger-animate.ng-enter,.stagger-animate.ng-leave{
    -webkit-transition:all linear 0.5s;
    transition: all linear 0.5s ;
    opacity:0;
}

.stagger-animate.ng-enter-stagger,.stagger-animate.ng-leave-stagger{
    -webkit-transition-delay:0.3s;
    transition-delay:0.3s;

    -webkit-transition-duration:0s;
    transition-duration:0s;
}

.stagger-animate.ng-enter.ng-enter-active,.stagger-animate.ng-leave.ng-enter-active{
    opacity:1;
}

/**********************************animation of the view change**********************************/
.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0, 1, 0, 1) 1.5s;

  display:block;
  width:100%;
  border-left:1px solid black;
  position:absolute;
  top:50px;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  opacity:0;
}

.view-animate.ng-leave {
  opacity:1;
}
.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}


/**********************************fact design**********************************/
.fact{
	height: 400px;
	text-align: center;
	background-size: cover;
	margin-top:10px;
	overflow: hidden;

}

.fact-image{
	height: 400px;
	transition:0.5s;
	background-position:center;
	background-size: cover;
}

.fact-text {
	text-align:center;
	padding-top:140px;
	padding-bottom:140px;
	font-family:Arvo;
	font-variant: small-caps;
	font-variant: initial;
	font-size:48px;
	color:white;
	position: relative;
	margin-top: -400px;
	z-index: 100;
	font-weight: 800;

}

.fact:hover > .fact-image{
	filter:brightness(0.6);
}


/**********************************Footer*********************************
footer p a img{
	height: 25px;
	margin: 20px 10px 20px 10px;
}*/

/**********************************Questions**********************************/
.quote{
	margin:10px;
	padding:5px;
	border:1px black;
	border-radius:5px;
	background-color:#0a446d;
transition: all linear 0.5s;}

.quote p{
	margin: 30px;
	font-family:Arvo;
	font-size:32px;
	color:white;
}

.quote:hover{
	background-color:#0d69aa;
}
